#### Memilih Data berdasarkan NumArticles dan NumMentions

In [8]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
# import numpy as np
X = pd.read_csv('Data\DataClean.csv')
df = pd.DataFrame(X, columns = ['NumArticles','NumMentions'])
df

     NumArticles  NumMentions
0              1            1
1              2            2
2              1            1
3              6            6
4              2            2
5              1            1
6              2            2
7              5            5
8              1            1
9              6            6
10             2            2
11             2            2
12            10           10
13             5            5
14             2            2
15             6            6
16             2            2
17            10           10
18             2            2
19             2            2
20             6            6
21             6            6
22             8            8
23             6            6
24             8            8
25             8            8
26            30           30
27             8            8
28            16           16
29            24           24
..           ...          ...
546            6            6
547            6            6
548            6            6
549            4            4
550            5            5
551            5            5
552            5            5
553            3            3
554           12           12
555           12           12
556            4            4
557            4            4
558            4            4
559            4            4
560            2            2
561            1            1
562            2            2
563            1            1
564            8            8
565            9            9
566           10           10
567            5            5
568            5            5
569            7            7
570           10           10
571            5            5
572            4            4
573           24           24
574            4            4
575           24           24

[576 rows x 2 columns]

#### Mencari kelompok kluster

In [3]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(df)
y =kmeans.labels_
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 4, 0, 0, 3, 0, 0, 3, 3, 3, 2,
       0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 3, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 3,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       3, 3, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 3, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 3,
       3, 0, 1, 3, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [25]:
dfc=pd.DataFrame(y, columns=['Hasil']) 
dfc

     Hasil
0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
..     ...
546      0
547      0
548      0
549      0
550      0
551      0
552      0
553      0
554      0
555      0
556      0
557      0
558      0
559      0
560      0
561      0
562      0
563      0
564      0
565      0
566      0
567      0
568      0
569      0
570      0
571      0
572      0
573      0
574      0
575      0

[576 rows x 1 columns]

In [33]:
result = pd.concat([df,dfc], axis=1, sort=False)
result

     NumArticles  NumMentions  Hasil
0              1            1      0
1              2            2      0
2              1            1      0
3              6            6      0
4              2            2      0
5              1            1      0
6              2            2      0
7              5            5      0
8              1            1      0
9              6            6      0
10             2            2      0
11             2            2      0
12            10           10      0
13             5            5      0
14             2            2      0
15             6            6      0
16             2            2      0
17            10           10      0
18             2            2      0
19             2            2      0
20             6            6      0
21             6            6      0
22             8            8      0
23             6            6      0
24             8            8      0
25             8            8      0
26            30           30      0
27             8            8      0
28            16           16      0
29            24           24      0
..           ...          ...    ...
546            6            6      0
547            6            6      0
548            6            6      0
549            4            4      0
550            5            5      0
551            5            5      0
552            5            5      0
553            3            3      0
554           12           12      0
555           12           12      0
556            4            4      0
557            4            4      0
558            4            4      0
559            4            4      0
560            2            2      0
561            1            1      0
562            2            2      0
563            1            1      0
564            8            8      0
565            9            9      0
566           10           10      0
567            5            5      0
568            5            5      0
569            7            7      0
570           10           10      0
571            5            5      0
572            4            4      0
573           24           24      0
574            4            4      0
575           24           24      0

[576 rows x 3 columns]

In [42]:
result.loc[118:150]

     NumArticles  NumMentions  Hasil
118            2            2      0
119           84           84      3
120           10           10      0
121           10           10      0
122          588          588      4
123           12           12      0
124            4            4      0
125          106          106      3
126            4            4      0
127           12           12      0
128           50           50      3
129          116          116      3
130           60           60      3
131         1671         1711      2
132            8            8      0
133           12           12      0
134           12           12      0
135           20           20      0
136           38           38      0
137            1            1      0
138           68           68      3
139           10           10      0
140            1            1      0
141           20           20      0
142           81           81      3
143           22           22      0
144          785          785      1
145           20           20      0
146            1            1      0
147            4            4      0
148           10           10      0
149            6            6      0
150           24           24      0

#### mengelompokkan hasil kluster

In [51]:
result['label_kluster'] = result.Hasil.map({0:'Kelompok 0', 1:'Kelompok 1', 2:'Kelompok 2', 3:'Kelompok 3', 4:'Kelompok 4'})

In [52]:
result.groupby('label_kluster').count()

               NumArticles  NumMentions  Hasil
label_kluster
Kelompok 0             547          547    547
Kelompok 1               3            3      3
Kelompok 2               1            1      1
Kelompok 3              24           24     24
Kelompok 4               1            1      1